<header th:fragment="header">
  <nav class="main-nav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/static">Register</a>
      </li>
      <li>
        <a href="/static">About</a>
      </li>
      <li>
        <a href="/static">Add new route</a>
      </li>
      <li>
        <a href="/static">Profile</a>
      </li>
      <li>
        <a href="/static">Admin</a>
      </li>
      <li>
        <a href="/static">Logout</a>
      </li>
    </ul>
  </nav>
</header>
